* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style:none;
}
.navbar {
    position:fixed;
    top:0;
    border:1px solid;
    width:90%;

}
.navbar ul{
    display:flex;
    justify-content:space-between;
}

