*{
    margin:0;
    padding: 0;
}
#app{
    height:600px;
}
aside ul {
    list-style: none;

}

.title{
  display: flex;
    justify-content: center;
    align-items: center;
    margin:3em 0;
}
aside{
    display: flex;
    flex-direction: column;

    height: 300px;
    width: 200px;

    border-radius: 8px;
    overflow: hidden;

}
aside li{
    padding: 1em;
    border: 1px solid;
    background: rgba(128, 123, 125, 0.4);
}
button{
    margin:1em 0;
}
aside button {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    padding: 0.8em 3.2em;

}
aside li:hover{
    background: rgb(248, 249, 250);

}
input{
    font-size: 1em;
}

