*{
    margin:0;
    padding: 0;
}

aside ul {
    list-style: none;

}
.title{
  display: flex;
    justify-content: center;
    align-items: center;
    margin:3em 0;
}
aside{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    height: 300px;
    width: 200px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    overflow: hidden;

}
aside li{
    padding: 1em;
    border: 1px solid;
    background: rgba(128, 123, 125, 0.4);
}
aside a {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    padding: 0.8em 3.2em;

}
aside li:hover{
    background: rgb(248, 249, 250);

}
