*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    margin:1em;
    border:1px solid;
    height: 200px;

    border-radius: 20px;
    box-shadow: 20px 0 0 0 rgba(128, 128, 128, 0.12);
}
.header_logout button{
    padding:1em;
    margin:2em;
}

.header_container{
    width:200px;
}
.header h1{
    margin:1em;
}
.header p{
    margin:1em;
}
.offer_container{
    margin:2em;
    border:1px solid;

    width:900px;
    box-shadow: 0 10px 10px rgba(128, 128, 128, 0.73);
    border-radius: 20px;

}
.offer_container_title h3 {
    margin:2em;

}
.offer_container_header{
    margin:2em;
    display: flex;

    height: 4em;
    width: 40em;
    justify-content: space-around;
     border-bottom: 1px solid rgba(128, 128, 128, 0.59);

}
.offer_container_header button{
    padding:1em;
    border:none;
    cursor: pointer;
    background: none;

}
.active{
    color: #3498db;
    border-bottom-color: #3498db;
}

.section_cart{
    border:1px solid;
    width:50em;
    height: 60em;
    margin:2em;
    border-radius: 20px;
}
.container{
    display: flex;


}
.section_cart *{
    margin:1em;
}
.drug_container_wrapper{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width:800px;
height: 400px;
margin:1em;border:2px solid;
    gap: 0.5em;
}
.drug_container{
margin:1em;
height: 100px;
}
.drug_details{
    display: flex;
    gap: 0.7em;
}
.drug_prices{
    display: flex;
    gap:0.6em;
}
.drug_price{
    text-decoration: line-through;
}
.cart_item{
    border-radius:20px;
    background: #f8f9fa;
}
.item_details{
    display: flex;
}
.item_title{
    display: flex;
    justify-content: space-between;
}
.item_btn{
    width:1.4em;
}
.cart_items{
    overflow: scroll;
}
.order_container{
    display: flex;
    flex-direction: column;
}