body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form{
  display: flex;
  flex-direction: column;

  width:400px;
}
form * {
  margin: 1em 0;
}
input{
  font-size: 13px;
  border-radius: 1em;
  padding:1em;
}
button{
  padding: 1em;
  width:10vw;
  margin:2em;
  font-size: 1em;
}