*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header_title{
    border:4px solid #007380;
    border-radius: 20px;
    width:50%;
    margin:2em;
}
.header_title *{
    margin:0.3em;
}
.order_body{
    display: flex;
    border:1px solid;
    width:50em;
}
.header_add{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid;
    height: 350px;
    overflow: scroll;

}
form{
    display: flex;
    flex-direction: column;
}

input[type="number"]{
    width: 3em;

    font-size: 1.2em;
}
input{
    font-size: 18px;
    width:200px;
    height: 30px;
}
select{
   width:25em;
    height: 3em;
}
form *{
    margin:0.8em;
}
.plus_button{
    padding:0.6em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 0.8em;
    width:6em;
}
.btn_send{
    width:8em;
    height: 3em;
    border-radius: 2em;
}

