<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
<div id="app">
    <main>
        <div  class="header_table">
        <input
                type="text"
                v-model="input_value"
                placeholder="Cerca il prodotto per nome">
        <table  class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Tipologia</th>
                <th>Misura</th>
                <th>Casa Farmaceutica</th>
                <th>Prezzo</th>
                <th>Quantità</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="result in filter_product" :key="result.id">
                <td>{{ result.id }}</td>
                <td>{{ result.nome }}</td>
                <td>{{ result.categoria }}</td>
                <td>{{ result.tipologia }}</td>
                <td>{{ result.misura }}</td>
                <td>{{ result.casa_farmaceutica}}</td>
                <td>€{{ result.price}}</td>
                <td>{{ result.qty}}</td>

                <td>
                <input type="checkbox"   @click="enable_checkbox(result.id)"    name="productGroup" v-model="selectedProduct_value"  :value="result.id"  class="radio_product">
                </td>
                <td><input type="text" name="payment_mode" v-model="payment_mode"></td>
                <td> <input type="number"  :disabled="!isEnabled[result.id]" min="0" v-on:input="getQuantity($event,result.price,result.id)"></td>
                <td > <span ref="total_unit">€{{productTotals[result.id]?.subtotal}}</span></td>
            </tr>
            </tbody>

        </table>
        </div>
<div class="order_fields">

        <span class="calculate_value">Subtotal: {{formatCurrency(subtotal)}}</span>
        <span class="calculate_value">Calcola iva: {{formatCurrency(vat)}}</span>
    <span class="calculate_value">Totale: ${{ formatCurrency(total) }}</span>
        </div>
        <button  :disabled="isTotalNotEmpty"class="order_btn" @click.prevent="sendOrder()">Ordina</button>
    </main>

</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="order.js"></script>
</body>
</html>