<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="offer.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-demi@0.14.10/lib/index.iife.js"></script>
    <script src="https://unpkg.com/pinia@2.1.7/dist/pinia.iife.js"></script>
</head>
<body>
<div id="app">

    <div v-if="isDialogSuccess" class="success">
        <div class="dialog_panel">
            <H3>Ordine Creato con successo</H3>
            <button @click="closeDialog"> Continua lo shopping</button>
        </div>
    </div>
<div v-if="!isDialogSuccess" >
        <div  class="header">
         <div class="header_container">
     <h1>Sezione Offerte</h1>
     <p>Seleziona le offerte disponibili</p>
      </div>
            <div class="header_logout">
                <button @Click="logout">Logout</button>
            </div>
 </div>
<div class="container">
<div class="offer_container">
    <div class="offer_container_title">
        <h3>Farmaci Disponibili</h3>
    </div>
    <div class="offer_container_header">

    <button v-for="category in categories"
    :key="category" :class="['tab',{active:activeCategory== category}]"
            @click="fetchData(category)">
        {{category}}</button>
        <!--  Finish Header-->
</div>
    <div class="drug_container_wrapper">
    <div class="drug_container" v-for="drug in filterDrug"
    :key="drug.farmaco_id"
         :class="['drug_card',{promo:drug.onPromo}]">
<div class="drug_header">
    <h3 class="drug_name">{{drug.nome}}</h3>
    <div class="drug_details">
        <p> {{  drug.tipologia   }} </p>

        <p>{{ drug.misura }}</p>
        <p>{{ drug.qty }}</p>

    </div>
    <div class="drug_prices">
    <span class="drug_price">€{{drug.price}}</span>
    <p class="drug_final">€{{drug.final_price}}</p>
    </div>
    <p>Valido fino {{change_Date(drug.range_time_end)}}</p>
    <button @click="addToCart(drug)">Inserisci nel carrello</button>
</div>
    </div>
    </div>


</div>
    <div class="section_cart">
<h3>Carrello</h3>
        <p>Inserisci i prodotti nel carrello</p>
<div class="cart_items">
   <div class="cart_item" v-for="(item,index) in cart" :key="index">
       <div class="item_title">
           <p>{{item.nome}}</p>
       <span>{{(item.final_price*item.quantity).toFixed(2)}}</span>
       </div>

       <div class="item_details">
           <p>{{item.tipologia}}</p>
           <p>{{item.misura}}</p>
           <p>{{item.qty}}</p>
           <button @click="decreaseQty(index)" class="item_btn">-</button>
           <span> {{item.quantity}}</span>
           <button  @click="increaseQty(index)" class="item_btn">+</button>
           <button @click="item_remove(index)">Rimuovi</button>
       </div>
   </div>

</div>
 <div class="order_container">
 <span>Subtotale:{{subtotal.toFixed(2)}}</span>
<span>Iva: {{tax}}</span>
<span>Totale:{{total}}</span>
<button @click="sendOrder":disabled="isDisabled">Invia Ordine</button>
        </div>

    </div>
</div>
</div>


</div>
</div>
<script  type="module" src="offer.js"></script>

</body>
</html>